<%= form_with(model: [user, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-1 align-self-center p-0">
      <%= image_tag current_user.image.url, class: "rounded-circle", size: "50x50" if current_user.image && current_user.image.url || current_user.image.present? %>
    </div>

    <div class="col-10 mx-0">
      <div class="field">
        <%= form.text_area :content, class: 'form-control', placeholder: "コメントする" %>
      </div>
    </div>
<% if false %>
    <div class="col-1 align-self-center p-0">
      <div class="actions">
        <%= form.submit '送信', class: "btn btn-primary btn-sm" %>
      </div>
    </div>
<% end %>
    <div class="col-1 align-self-center p-0">
        <%= button_tag type: "submit", class: "btn btn-primary " do %>
          <i class="fa fa-paper-plane "></i>
        <% end %>
    </div>
  </div>
<% end %>
