<% visitor = notification.visitor %> <!-- コメントを送ったユーザーのid  -->
<% visited = notification.visited %> <!-- コメントを送られた人  -->
<div class="col-md-6 mx-auto">
  <div class="form-inline">
    <span>
      <%= link_to user_path(visitor) do %>
        <%= image_tag visitor.image.url, size: '30x30', class: "rounded-circle" if visitor.image && visitor.image.url || visitor.image.present? %>
        <strong><%= visitor.name %></strong>
      <% end %>
      さんが
      <% case notification.action %>
      <% when 'follow' then %>
        <%= "あなたをフォローしました" %>
      <% when 'comment' then %>
        <% if notification.user.id == visited.id  %>
          <%= link_to "あなたの投稿", notification.user, style: "font-weight: bold;" %>
        <% else %>
          <span>
            <%= link_to user_path(notification.user) do %><!--変更-->
              <%= image_tag notification.user.image.url, size: '30x30', class: "rounded-circle" if notification.user.image && notification.user.image.url || notification.user.image.present? %>
              <strong><%= notification.user.name + "さんの投稿"%></strong><!--変更-->
            <% end %>
          </span>
        <% end %>
        <%= "にコメントしました" %>
      <% end %>
      <p class="text-muted mb-0"><%= Comment.find_by(id: notification.comment_id)&.content %></p><!--変更-->
    </span>
  </div>
  <div class="small text-muted text-right">
    <%= time_ago_in_words(notification.created_at).upcase %>
  </div>
  <hr>
</div>
