<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <h2 class="text-center"><%= image_tag @user.image.url, class: "rounded-circle" if @user.image && @user.image.url || @user.image.present? %>
      <%= @user.name %>さんの固定支出</h2>
      <br>
      <% if current_user.id != @user.id %>
        <h4>プロフィール</h4>
        <%= @user.profile %>
      <% end %>

      <div class="text-center">
        <% if current_user.id == @user.id %>
          <%= link_to "固定費作成", new_fixed_cost_path, class: "btn btn-success btn-sm" %>
        <% end %>
        <% if @monthly_view == "true" %>
          <%= link_to "年額表示", user_path(params[:id], monthly_view: "false"), class: "btn btn-primary btn-sm" %>
        <% else %>
          <%= link_to "月額表示", user_path(params[:id], monthly_view: "true"), class: "btn btn-primary btn-sm" %>
        <% end %>
        <%= render 'relationships/follow_form', user: @user if current_user != @user %>
      </div>

      <div class="graph mx-auto" style="width: 350px;">
        <% if @monthly_view == "true" %>
          <%= pie_chart @join_monthlies_cost, label: "合計", library: {title: {text: "月額支出<br>#{@fixed_costs.map(&:payment).sum.to_s(:delimited)}円 "}} %>
        <% else %>
          <%= pie_chart @join_annuals_cost, label: "合計", library: {title: {text: "年額支出<br>#{@fixed_costs.map(&:payment).sum{|i| i * 12 }.to_s(:delimited)}円 "}} %>
        <% end %>
      </div>

      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th>カテゴリー</th>
            <th></th>
            <th>金額</th>
            <th>詳細</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <!-- current_userのfixed_costテーブル中身 -->
        <% @fixed_costs.includes(:categories).each do |fixed_cost| %>
        <tbody class="fixed_cost">
          <tr>
          <% unless fixed_cost.categories.present? %>
            <td></td>
          <% else %>
            <td><%= fixed_cost.categories.map(&:cat_name).first %></td>
          <% end %>

<!-- リファクタリング -->
          <% if @monthly_view == "true" %>
            <td><%= I18n.t('views.words.monthly') %></td>
            <td><%= fixed_cost.payment.to_s(:delimited) %>円</td>
          <% else @monthly_view == "false" %>
            <td><%= I18n.t('views.words.annual') %></td>
            <td><%= annual_payment(fixed_cost).to_s(:delimited) %>円</td>
          <% end %>

          <td><%= fixed_cost.content %></td>
          <% if fixed_cost.user == current_user %>
            <td><%= link_to edit_fixed_cost_path(fixed_cost.id), class: 'btn btn-primary btn-sm' do %>
              <i class="fas fa-edit"></i>
            <% end %></td>
            <td><%= link_to fixed_cost_path(fixed_cost.id), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "削除していいですか？"} do %>
              <i class="far fa-trash-alt"></i>
            <% end %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
          </tr>
        </tbody>
        <% end %>
      </table>

      <hr>
      <span class="text-danger">
        <p id="notice"><%= flash[:notice1] %></p>
      </span>
      <%= render partial: 'comments/form', locals: { comment: @comment, user: @user } %>
      <br>
      <!-- <p>コメント一覧</p> -->
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, user: @user } %>
      </div>
    </div>

    <div class="col-md-3">
    </div>
  </div>
</div>
