<!-- <div class="container-fluid mx-auto" style="width: 100rem"> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" id="sticky-sidebar">
      <div class="sticky-top pl-1">
        <div class="space">
          <span>　　　</span>
        </div>
        <h2 class="text-center">固定費低支出ランキング</h2>
        <%= form_with(url: fixed_costs_path, method: :get, local: true) do |form| %>
          大人：<%= form.select :adult_number, 1..10, include_blank: "" %>人　
          子供：<%= form.select :child_number, 0..10, include_blank: "" %>人
          <%= form.submit '検索' %>
        <% end %>

        <table class="table table-sm mt-1">
          <thead class="thead-light">
            <tr>
              <th>順位</th>
              <th></th>
              <th>月額合計</th>
            </tr>
          </thead>

          <% num = 0 %>
          <% @user_total_cost.each do |uid, value| %>
            <tr>
              <% if value > 30000 %>
                <td>第<%= num += 1 %>位</td>
                <td class="pl-3"><%= link_to "#{User.find(uid).name}", user_path(uid) %></td>
                <td><%= value.to_s(:delimited) %>円</td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="col-sm-5" >
      <h2 class="text-center">みんなの固定費一覧</h2>
      <!-- カードで設計 -->
      <% @users.each do |user| %>
        <div class="card shadow-sm mb-2" style="max-width: 25rem; margin: 0 auto; ">
          <div class="card-body pb-1">
            <h6 class="card-title">
              <div class="">
                <% if user.image.present? %>
                    <%= image_tag user.image.url, class: "rounded-circle", width: "10%" if user.image && user.image.url %>
                <% end %>
                <%= link_to "#{user.name}", user_path(user.id) %>
              </div>
              <div class="mt-1">
                月額支出：<strong><%= user.fixed_costs.sum(:payment).to_s(:delimited) %>円</strong>
              </div>
            </h6>
          </div>
          <div class="card-footer bg-transparent d-flex justify-content-between">
            <small class="pt-1"><%= l user.updated_at, format: :mid %></small>
            <%= render 'relationships/follow_form', user: user if current_user != user %>
          </div>
        </div>
      <% end %>
      <%= paginate @users, theme: 'twitter-bootstrap-4' %>
    </div>

    <div class="col-sm-3">
    </div>
  </div>
</div>
