<!DOCTYPE html>
<html>
  <head>
    <title>Frugality</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=devise-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %><!--追加 -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/5966e38669.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-inverse navbar-expand-md navbar-light bg-light ">
        <%= link_to "みんなの家計簿投稿", root_path, id: "logo", class: "font-weight-bold" %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDrop" aria-controls="navbarDrop" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarDrop">
          <ul class="navbar-nav ml-auto font-weight-bold ">
            <% if user_signed_in? %>
              <li class="nav-item ml-3">
                <%= link_to "みんなの固定費", fixed_costs_path, class: "text-secondary" %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to "わたしの固定費", user_path(current_user.id), class: "text-secondary" %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to "マイページ", mypage_user_path(current_user.id), class: "text-secondary" %>
              </li>
              <li class="nav-item ml-3">
                <%= render partial: 'notifications/circle' %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to I18n.t('views.messages.logout'), destroy_user_session_path, method: :delete, class: "text-secondary" %>
              </li>
              <li class="nav-item ml-3" id="id_admin">
                <%= link_to "管理者画面", rails_admin_path if current_user.admin? %>
              </li>
            <% else %>
              <li class="nav-item ml-3">
                <%= link_to I18n.t('views.messages.login'), new_user_session_path, class: "text-secondary" %>
              </li>
              <li class="nav-item mx-3">
                <%= link_to I18n.t('views.messages.sign_up'), new_user_registration_path, class: "text-secondary" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="dis_login mb-0">
        <% if notice %>
          <p class="alert alert-notice mb-0"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-error"><%= alert %></p>
        <% end %>
      </div>

      <%= yield %>

    </main>
    <footer class="footer bg-light">
      <p class="text-dark text-center text-secondary text-muted">©2022 Frugality</p>
    </footer>

    <code class="code-multiline"><!-- jQuery読み込み -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

      <!-- Propper.js読み込み -->
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

      <!-- BootstrapのJavascript読み込み -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </code>



  </body>
</html>
